body {
	background-color: lightblue;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 25px;

}
header {
    background:#55d6aa;
}
header::after {
    content: '';
    display: table;
    clear: both;   
}

nav {
    float: left;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}